extends email-layout

block content
  h2 Admin Invite
  p Hello. You have been invited to become an Admin. Please click the following button to continue your registration. Please note this link is only valid for the next hour.
  +button(inviteUrl, 'Reset my Password →')
  p If you can't click the above button please visit #{inviteUrl}
  br
  p If you didn't request this email, please ignore it.
