extends email-layout

block content
  h2 New Purchase Order
  p Hello. A new Order has just been placed on Order App.
  ul
    each item in items
      li #{item.quantity} - #{item.name} @ N #{item.amount}
  br
  p Please ignore if you did not request this mail
