extends email-layout

block content
  h2 Payment sent by Buy
  p Hello. A new payment information  has just been sent on Ecurrency Hub.
  +button(orderUrl, 'View Order→')
  p If you can't click the above button please visit #{orderUrl}
  br
