extends email-layout

block content
  h2 Verify Your Account
  p Hello. Thank for creating your account. Please click the following button to verify your account.
  +button(verifyUrl, 'Verify my account →')
  p If you can't click the above button please visit #{verifyUrl}
  br
  p If you didn't request this email, please ignore it.
